[Desktop Entry]
Version=0.3.0
Name=Video games
Name[fr_FR]=Jeux vidéo
Name[es_ES]=Videojuegos
Categories=Game;
Exec=badnik
Icon=badnik
Terminal=false
Type=Application
